<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
                <property name="username" value="s2220" />
                <property name="password" value="ss" />
            </dataSource>
        </environment>
    </environments>
    <!--映射文件：描述某个实体和数据库表的对应关系 -->
    <mappers>
        <mapper resource="cn/happy/entity/Dept.xml" />
    </mappers>
</configuration>